@charset "utf-8";
/* CSS Document */

* { 
	margin:0; 
	padding:0;
}
body { 
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.clearFix { clear:both;}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
  margin-bottom:10px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 16px;
  vertical-align: top;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

.container {
	width:1000px;
	margin:20px auto;
	border:1px solid #ddd;
	display:block;
}
.row { display:table; padding:0 2%;width:96%}
.logoDiv { display:table-cell; width:50%; padding-top:10px;}
.pageTitle { display:table-cell; width:50%; text-align:center; vertical-align:top;}
.pageTitle h1 { margin:25px 0 10px 0; color:#006cb5}

.addressTable {}
.addressTable td { width:50%;}
.addressTable h5 { border-bottom:1px solid #ddd; background:#eee; display:inline-block; padding:5px 20px 5px 5px; margin-bottom:10px;}

.orderTable {}
.orderTable thead { background:#eee; font-weight:600;}
.orderTable thead td { vertical-align: center}
.orderTable td { width:20%; text-align:center;}

.workTable {}
.workTable thead { background:#eee; font-weight:600;}
.workTable thead td { vertical-align: center}
.workTable td {text-align:center;}
.workTable tfoot { font-weight:bold;}
.workTable .total { background:#cee3ff;}

.termsText { padding:20px 0;}

ol.termsList { margin-left:20px; margin-bottom:50px;}
.signatureBox { height:100px; display:block; border-bottom:1px solid #ddd; font-size:0px;}
.footer { text-align:center; background:#006cb5; padding:5px 0; margin-bottom:20px;}
.footer p { font-size:12px; color:#fff; margin-bottom:0;}